@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap'); /* Iported from google fonts */

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Lato,sans-serif;
    font-weight: 300;
    color:  #3a3a3a;
}

/* heading and logo*/

h1, h2{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}
/* Navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    float: right;
    list-style-type:none;
    margin-right: 30px;
}
#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a ;
}
/*hero image  and cover text*/
#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative; /* This is the parent*/
}

#cover-text, #cover-text h2{
    color:#fff;
}

#hero-image{
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center; /* we horizontally and vertically center the image and prevent repeats*/

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwads;
}


/* creates the level of zoom for the hero image */
@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text{
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute; /*This is the child that I can move */

}

/*club ethos */

#club-ethos{
    heigth: 600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about{
    width: 33%;
    margin: 0 auto; /* Center this div */
}

hr{
    border-top: 1px solid #3a3a3a; /*hr to fit below the heading, we set its border */
    width: 100%;
    margin: 5px 0; /*To provide some clearance around the rule */
}

.left-about-heading{
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both; /*we ensure that each content block is aligned vertically */
    margin-bottom: 50px; /*we create some breathing space between the divs*/
}

.right-about-heading{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both; /*we ensure that each content block is aligned vertically */
    margin-bottom: 50px; /*we create some breathing space between the divs*/
}

.right-about-heading h2{
    text-align: right; /* style right hand side content block headers */
}

.right-about-heading p{
   text-align: right; /*style right had side paragraph text */
}

#welcome{
    text-align: center;
    margin: 20px 0; /*We push the heading 20px down from the hero image */
    font-size: 280%;
}

#circle-container{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%; /*To create a circle*/
    margin: 0 auto; /*To center the circle */
}

#circle-cover-bg{
    background: url("../images/ethos-center-image.jpg") no-repeat center center; /* we horizontally and vertically center the image and prevent repeats*/
    height: 100%; /*We need to give the div a height or the image won't show up */
    border-radius: 50%; /*To make the image round */
}

/* Event times */

#times {
    background-image: url("../images/dublin-city.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div{
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%; /* ya que son 5 divs 100/5 = 20% */
    height: 300px;/* half the size sections obove it*/
    float: left; /* so they display horizontally within the flow of the page*/
    padding: 30px 0 0 10px; /*Padding 30px top 10px left , clockwise order px order*/
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box; /* This tells the browser to include the border widthin the toal size of this element so now is 20% width including the border */

}

#times h2{ /* targeting only child elemet h2 from parent times*/
    color: #fafafa;
}

/* Footer */

footer{
    height: 150px;

}

.social-networks{
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i{  /* To target and style the icons , so the "i" is to target icons , i want the i elements of class social-networks*/
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color:#3a3a3a;
}

/* photo gallery styling*/

#photos{
    clear: both; /* so that photo section and its contents displays below the header*/
    line-height: 0; /* this is in order to remove any horizontal gaps bwtween the images*/
    column-count: 4; /* we put everything in columns*/
    column-gap: 0; /* to eliminate any vertical gap */
}

#photos > img { /* targeteo las imagenes child del partent class photos*/
    width: 100%;  /*Algunas imagenes eran muy chicas o grandes para las columnas, esto se arregla de esta forma para que entren todas */
}

/* Media queries / Para poder verlo en distintos dispositivos */

/*For larger to medium screens size from 1200px wide and down / tablets */
@media screen and (max-width: 1200px){ 
    #club-ethos{
        width: 65%; /* narrow vertical design for tablet viewing*/
        height: 1200px; /* to accommodate the vertical layout and also maintain the site structural ratios*/
        margin: 0 auto; /* center content */
    }
    
    #welcome{
        padding: 30px 0; /*we change padding to keep balance between welcome message and the man image above */
        margin: 0; /*to clean up vertical gap */
    }

    #left-about, #right-about{
        width: 100%;
        float: left;
        padding: 0; /* to override any default desktop level padding*/

    }
    
    #center-about{ 
        clear: both; /*center about image below the text  content */
        width: 100%;
        float: left;
        padding: 0; /* clear any padding at desktop level*/
    }

    #times > div{ /* style for the meeting times child div from parent id="times"*/
        width: 100%;
        clear: both; /* stack the times on top of eacth other*/
        height: 150px; /* to maintain sizing ratios of the main structural page elements */
        padding: 0; /* to clean any desktop level padding*/
    }

    hr{
        display: none;
    }

}

/* For medium screen sizes from 950px wide and down / phones*/

@media screen and (max-width: 950px){
    #menu{ /* push menu below and left of our logo*/
        clear: left;
        float: left;
        margin-left: 30px; /* some space between navigation elements and the left edge of the screen*/
        margin-bottom: 20px;
        line-height: 25px; /* To produce a balanced space between the logo above and the main image below*/
    }

    #cover-text{
        left: 0; /* align the left edge od the cover-text flush with the left screen edge */
    }

    #club-ethos{
        width: 90%; /* width for phones*/
        height: 1200px;
        margin: 0 auto; /* center content*/
    }

    .left-about-heading, .right-about-heading{
        width: inherit; /* inherit from father club-ethos*/
    }

    .left-about-heading h2, .right-about-heading h2{
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p{
        text-align: center;
        padding: 0 20px; /* set left and right padding to 20px*/
    }
}